/* Make resize handles more visible */
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

.react-resizable-handle::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #00d9ff;
  border-bottom: 2px solid #00d9ff;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

/* Highlight resize handle on hover */
.react-grid-item:hover .react-resizable-handle::after {
  border-right-color: #00d9ff;
  border-bottom-color: #00d9ff;
  width: 8px;
  height: 8px;
}

/* Make dragging area more obvious - entire card is draggable */
.react-grid-item {
  cursor: move;
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 100;
  opacity: 0.8;
}

.react-grid-item.resizing {
  transition: none;
  z-index: 100;
  opacity: 0.8;
}

/* Show a visual cue when hovering over a card */
.react-grid-item:hover {
  z-index: 10;
}
